.student-name-header {
    min-width: 21.75rem !important;
}

.leader-board-column-header {
    padding-left: 2.5rem !important;
    min-width: 25rem !important;
    font-weight: bold;
}

.user-response-name {
    padding-left: 2.5rem !important;
    min-width: 25rem !important;
}

.user-response-data-count {
    padding-left: 2.5rem !important;
    min-width: 25rem !important;
}

.user-name {
    font-weight: bold;
}

.user-data-table {
    margin-left: 0.5rem;
}

.leader-board-heading {
    padding: 2rem 0rem 0rem 2rem;
    font-size: 1.6rem;
}

.leader-board-error-heading {
    font-size: 1.6rem;
    width: 100%;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
