.search-title {
    color: #0645AD;
    font-weight: 600;
    font-size: 2rem;
    cursor: pointer;
}

    .search-title:hover {
        text-decoration: underline;
    }

.search-result-container {
    margin-bottom: 3rem;
    margin-left: 3rem;
}

.search-url-text {
    color: #056724;
    margin-top: 1rem;
}

.search-description {
    margin-top: 1.5rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -moz-box-orient: vertical;
    width: 70%;
}

.default-container .last-updated-date {
    margin-top: 1.5rem;
    box-shadow: 0px 1px 5px 2px #b3b3b3;
    border-radius: 3px;
    height: 6rem;
    width: 15rem;
    margin-right: 2rem !important;
    padding-top: 0.5rem;
}

.dark-container .last-updated-date {
    margin-top: 1.5rem;
    border-radius: 3px;
    height: 6rem;
    width: 15rem;
    margin-right: 2rem !important;
    padding-top: 0.5rem;
    border: 1px solid #fff;
}

.last-updated-date-lbl {
    width: 100%;
    background-color: transparent !important;
    font-size: 1.2rem;
    margin-left: 1.5rem;
}

.dark-container .last-updated-date-lbl {
    width: 100%;
    background-color: transparent !important;
    font-size: 1.2rem;
    margin-left: 1.5rem;
    color: #fff;
}

.high-contrast-container .last-updated-date-lbl {
    width: 100%;
    background-color: transparent !important;
    font-size: 1.2rem;
    margin-left: 1.5rem;
    color: #fff;
}

.high-contrast-container .last-updated-date {
    margin-top: 1.5rem;
    border-radius: 3px;
    height: 6rem;
    width: 15rem;
    margin-right: 2rem !important;
    padding-top: 0.5rem;
    border: 1px solid #fff;
}

.dark-container .last-updated-date-text {
    background-color: transparent !important;
    margin-left: 1.5rem;
    color: #fff;
}

.high-contrast-container .last-updated-date-text {
    background-color: transparent !important;
    margin-left: 1.5rem;
    color: #fff;
}

.last-updated-date-text {
    background-color: transparent !important;
    margin-left: 1.5rem;
}

    .last-updated-date-text img {
        margin-left: 0.5rem;
        height: 1.5rem;
    }

.seperator {
    border: 1px solid #D3D3D3;
    height: 0.1rem;
    width: 40rem;
    margin-top: 1rem;
}

.seperator-results {
    border: 0.1px solid #D3D3D3;
    height: 0.1rem;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.score {
    text-decoration: underline;
    font-weight: 600;
    margin-right: 10rem;
}

.common {
    color: #808080 !important;
}

.icon-color {
    color: #228B22;
    margin-right: 0.5rem;
}

.right-space {
    float: right;
    color: #0645AD;
}

.search-results-box-container {
    width: 36.5%;
}

.search-filter-box-container {
    width: 36.5%;
    margin-left: 6rem;
}

    .search-filter-box-container button {
        margin-right: 0rem !important;
    }

.top-level-domain {
    cursor: pointer;
}

.domain-popup-heading {
    font-weight: 600;
}

.toplevel-domain-popup {
    height: auto;
    width: 40rem !important;
    padding: 1rem;
}

.bing-image {
    background-color: transparent !important;
    height: 3rem !important;
    width: 3rem !important;
    margin-right: 2rem !important;
}

    .bing-image img {
        height: 3rem !important;
        width: 3rem !important;
    }

.top-level-domain {
    cursor: pointer;
}

.search-result-domain-popup {
    padding: 1rem;
}

.domain-popup-heading {
    font-weight: 600;
}

.toplevel-domain-popup {
    height: auto;
    width: 40rem !important;
    padding: 1rem;
}

.search-result-searchbox-container {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 200px;
}

.search-container {
    position: fixed;
    top: 30%;
    left: 40%
}

.search-filter-button-container {
    position: relative;
    left: 1.5% !important;
}

.bing-image-width {
    max-width: 1.625rem;
}

.search-result-searchbox-padding {
    padding-left: 3rem !important;
}

.search-no-results {
    text-align: center;
    margin-top: 10rem;
}

.search-result-container-box {
    background-color: #fff;
    height: auto;
}

.dark-container .search-result-container-box {
    background-color: #000;
    height: auto;
}

.high-contrast-container .search-result-container-box {
    background-color: #000;
    height: auto;
}
